<ion-header>
  <ion-toolbar>
    <ion-title>Crear Nuevo Grupo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" size-lg="2">
        <div class="title">
          <ion-input aria-label="Nuevo Grupo" value="Titulo del grupo" style="margin-top: 15%;"></ion-input>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-input
            label="Agregar nuevo participante"
            labelPlacement="stacked"
            [clearInput]="true"
            placeholder="Ingresa Correo o Usuario"
            value=""
          >
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-input
            label="Contraseña"
            labelPlacement="stacked"
            [clearInput]="true"
            placeholder="Ingresa Contraseña para el grupo"
            value=""
          >
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" style="text-align: center;">
        <p>Codigo de invitacion</p>
        <div class="code">
          <h1>1234</h1>
        </div>
        <a href="#">Compartir</a>
      </ion-col>
    </ion-row>
    <ion-list>
      <ion-list-header>
        <ion-label>Invitados</ion-label>
        <ion-button slot="end"> End </ion-button>
      </ion-list-header>
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
        <ion-button slot="end"> End </ion-button>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
