.logo-auth{
  width: 25vw;
  height: 11vh;
  margin: auto;
  margin-top: 40%;
  justify-content: center;
  display: flex;
}
.text-b{
  text-align: center;
  font-size: 2em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  color: #03234d;
  margin-top: 10px;
}
.text-sb{
  text-align: center;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  color: gray;
  margin-top: 10px;
}
.form-login{
  width: 100%;
  padding: 10px;
}
.input-login{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  text-align: center;
}
ion-input{
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
}
ion-input.custom {
  --background: #ffffff;
  --color: #313131;
  --placeholder-color: #03234d;
  --placeholder-opacity: 0.8;

  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
}
.container{
  padding: 10px;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  font-weight: 500;
  color: gray;
  margin-top: 10px;
}

.info-f{
  font-size: 0.7em;
}
