<ion-content [fullscreen]="true">

  <div class="container">
    <img class="logo-auth" src="../../../assets/logo.png" alt="">
    <h1 class="text-b">Bienvenido a</h1>
    <p class="text-sb">Inicia sesion con tu correo y disfruta de tus juegos.</p>

    <form class="form-login">
      <ion-item lines="none">
        <ion-input
          type="email"
          label="Email"
          fill="outline"
          labelPlacement="floating"
          required="true"
          color="primary"
          helperText="Ingresa tu correo y recibiras un codigo de verificacion"
          errorText="Correo No Valido"
          [clearInput]="true"
          email
          name="email"
          [(ngModel)]="email"
          placeholder="tucorreo@dominio.com"></ion-input>
      </ion-item>
      <ion-button style="margin-top: 15%;" expand="block" shape="round" (click)="login()">Continuar</ion-button>
    </form>
    <div class="footer">
      <p class="version">{{version}}</p>
      <p class="info-f">Desarrollado por <a href="https://ststechnology.mx/" target="_blank">STStechnologyMX</a></p>
    </div>
  </div>
</ion-content>
